<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dudley.towerdefense">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-sdk
        android:minSdkVersion="21"
        android:targetSdkVersion="23" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="Zoo Defense">
        <activity
            android:name=".ZooDefenseGame"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:label="Zoo Defense"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
